@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200;400;700&display=swap");

* {
  font-family: "Titillium Web", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}
/* Navigation Bar */
nav.navbar {
  background-color: #ffe999;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0;
  padding: 15px 0;
}
.collapse {
  justify-content: end;
}

a.nav-link {
  margin: 0 15px;
}

.navbar {
  z-index: 1000; /* Adjust the value as needed */
}

/* Homepages */
.home-page {
  width: 100vw;
  height: 100%;
  align-items: center;
  justify-content: center;
  background-image: url(../public/img/Bg-main.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: #ffffff;
}
.home-title {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}

.home-title p {
  color: #ffffff;
  font-weight: 200;
  text-transform: lowercase;
}
.btn-inquire.btn-primary {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  font-weight: 400;
  border: 3px solid rgba(255, 255, 255, 0);
  border-radius: 50px;
  text-shadow: 0 0.04em 0.04em rgba(0, 0, 0, 0.35);
  text-align: center;
  transition: all 0.2s;
}
.btn-inquire a {
  text-decoration: none;
  color: #ffffff;
}
.btn-inquire.btn-primary:hover {
  background-color: transparent;
  border-color: rgb(255, 255, 255);
}

/* Projects */
.autocadimg {
  width: 100%;
  height: 380px;
  width: 100%;
  object-fit: fill;
}
/* Footer */
.footer {
  height: 300px;
  background-color: #191814;
  width: 100vw;
}
.footer-links {
  display: flex;
  align-items: center;
  color: #ffffff;
  list-style: none;
  padding: 0;
}
.footer-links li {
  margin-top: 30px;
}
.footer-links li a {
  color: #6c757d;
}
.socmed-links {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-decoration: none;
}
.socmed-title {
  margin-top: 5px;
  font-size: 12px;
  font-weight: 400;
}
.footer-line {
  border: 1px solid #6c757d;
  width: 100%;
}
.copyrights {
  color: #6c757d;
}

/* Services */
